<div class="getdata" style="margin-bottom:30px;">
<%= link_to "Get data",getdata_articles_path,:class => "btn btn-success",:style => "color:white;" %>
<%= link_to "Link Api",getdata_api_index_path,:class => "btn btn-info",:style => "color:white;" %>
</div>
<div class="row">
<% @articles.each do |article| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3><%= article.title %></h3>
        <img src=<%=article.image %>>
        <p><%= truncate(article.desc, length: 300) %></p><br>
        <p><%= link_to 'Read More', article, :class=>"btn btn-primary" %></p>
      </div>
    </div>
 </div>
<% end %>
</div>
    
<div style="clear: both;"></div>
